body {
  margin: 0;
  font-family: sans-serif, Arial, Helvetica;  
}

.pageright {
  width: 5%;
  float: right
}

#title {
  margin: 0 5% 0 0;
  padding: 0 5% 2% 4%;
/*  border-right: 1px dashed #000; */
/*  border-left: 1px solid #000; */
/*  background-color: #abc;  */
}

.boldbig {
  font-size: 150%;
  font-weight: bold;
}
.boldbig2 {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}
.main {
  max-width:850px;
/*  margin: 0 10% 0 10%; */
  margin: auto;
  padding: 2% 5% 2% 5%;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px dashed #999;
/*  border-left: 1px dashed #bbb; */
/*  border-top: 1px dashed #bbb; */
/*  line-height: 150%; */
/*  border-left: 1px solid #000; */
  background-color: #fff;
/*  _padding-top: 3%; */
}

#main_last {
  border-bottom: 1px solid #999;
  padding-bottom: 4%;
}


.poem {
  white-space: pre;
}

#footer {
  max-width:850px;
  margin: auto;
  padding: 2% 5% 2% 5%;
/*  border-right: 1px dashed #bbb; */
/*  border-top: 1px dashed #bbb; */
/*  border-left: 1px solid #000; */
  font-size: 80%;
  height: 30px;
/*  background-color: #cde; */
}
.post {
  padding: 2% 0 2% 0;
  font-size: 80%;
  line-height: 150%;
}
.zimbol {
  color: #999;
  font-size: 80%;
}
img {
  vertical-align: middle;
/*  margin-right: 5px;
  margin-bottom: 5px; */
}
p {
  margin-bottom: 5px;
}
ul {
  margin: 0;
  margin-top: 10px;
}
ul.li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration:none;
}
a:link, a:active, a:visited{
  color: #11C;
}
a:hover {
  color: #080;
  /* border-bottom: 1px dashed #090; */
  padding-bottom: 1px;
}
table {
  margin: 0;
}
table td {
  padding: 0;
  padding-left: 50px;
  vertical-align: top;
}
.line {
  border-bottom: 1px solid #000;
}
.dline {
  border-bottom: 1px dashed #bbb;
}

p {
  margin-bottom: 0px;
}
